<!DOCTYPE html>
<html>
    <head>
        <title>Bookify</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        <h1>Bookify</h1>
        <form action="/results" method="POST">
            <p>Teachers, happy summer!<br>Enter a search query for the type of books you want to read: </p>
            <input name="searchQ" />
            <button type="submit">Submit</button>
        </form>
        <p class="footer">created with node.js</p>
    </body>
</html>